header {
    padding: 5px 30px;
    border-bottom: 1px solid #E4E6EA;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 180px;
    max-height: 108px;
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    gap: 20px;
    height: auto;
}

.sugestoes {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #1855A5;
    gap: 5px;
    cursor: pointer;
}
.sugestoes img {
    margin-bottom: 5px;
    width: 35px;
    height: 35px;
}

.perfil {
    /* display: flex; */
    display: none;
    align-items: center;
    font-weight: 500;
    gap: 5px;
    cursor: pointer;
}
.perfil img {
    width: 35px;
    height: 35px;
}
.login_cadastro {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    gap: 10px;
    color: #1855A5;
}

.login_cadastro span {
    width: 2px;
    height: 16px;
    background-color: #1855A5;
}

.login_cadastro p {
    cursor: pointer;
}