/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.section {
    display: flex;
    justify-content: space-between;
}

.banner {
    width: 100%;
    margin-bottom: -6.094px;
}

.banner img {
    width: 100%;
    height: 100%;
    max-height: 300px;
    object-fit: cover;
}

.cardapio_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: #033061;
    color: #fff;
    padding: 20px;
    font-weight: 700;
    font-size: 25px;
    gap: 10px;
}

.cardapio_title > div {
    padding-bottom: 10px;
    width: 100%;
}

.cardapio_title > div > p > span {
    color: #DD9933;
}

.categorias {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid #E4E6EA;
}

.categorias > div {
    width: 300px;
    height: 40px;
    display: flex;
}

.categorias_itens, .categorias_itens_ponta_esquerda, .categorias_itens_ponta_direita {
    width: 100%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.categorias_itens {
    border-top: 1px solid #1855A5;
    border-bottom: 1px solid #1855A5;
}

.categorias_itens_ponta_esquerda {
    border: 1px solid #1855A5;
    border-radius: 20px 0 0 20px;
}

.categorias_itens_ponta_direita {
    border: 1px solid #1855A5;
    border-radius: 0 20px 20px 0;
}

.ativo {
    background-color: #1855A5;
    color: #fff;
    border: 0;
}

.cardapio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 10px 0px;
    justify-content: center;
    width: 100%;
}

.cardapio_item {
    background-color: #0E004E;
    color: #fff;
    width: 100%;
    max-width: 190px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.61);
    gap: 5px;
    margin: 10px;
}

.cardapio_item_head_qtd, .cardapio_item_head_qtd_indisponivel {
    position: absolute;
    width: 29px;
    height: 25px;
    font-size: 16px;
    line-height: 25px;
    border-radius: 10px 0 0 0;
}

.cardapio_item_head_qtd {
    background-color: #DD9933;
}

.cardapio_item_head_qtd_indisponivel {
    background-color: #9D9D9D;
}

.cardapio_item_head h4 {
    font-weight: 500;
}

.cardapio_item_head img {
    width: 100%;
    max-width: 190px;
    height: 90px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
    
}

.cardapio_item_mid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardapio_item_mid_qtd {
    display: flex;
    gap: 8px;
    align-items: center;
}

.cardapio_item_mid_seletores {
    font-size: 40px;
    cursor: pointer;
}

.cardapio_item_mid div {
    font-family: 'Sanchez';
}

.cardapio_item_mid input {
    background-color: #fff;
    color: #000;
    width: 20px;
    height: 20px;
    display: block;
    font-size: 20px;
    border: none;
    display: flex;
    text-align: center;
}

.cardapio_item_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 5px 0;
}

.cardapio_item_bottom_add {
    background-color: #DD9933;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    margin: 0 5px 0 5px;
    height: 36px;
    width: 140px;
    font-size: 14px;
    cursor: pointer;
    border: none;
}

.cardapio_item_bottom_reservar {
    background-color: #1855A5;
    color: #fff;
    width: 100px;
    height: 36px;
    padding: 5px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
}

.paginacao {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
}
.paginacao div {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}

.paginacao div:hover {
    border: 1px solid #000;
    box-sizing: border-box;
}

.paginacao_ativa {
    background-color: #1855A5;
    color: #fff;
}

.carrinho {
    position: fixed;
    top: 300px;
    right: 0px;
    width: 50px;
    height: 34px;
    background-color: #DD9933;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0 10px;
}

.carregando {
    text-align: center;
    padding: 40px;
    font-size: 30px;
}


@media only screen and (min-width: 1400px) {
    .banner img {
        max-height: 450px;
        
    }
}

@media only screen and (max-width: 770px) {
    .banner {
        margin-bottom: 0;
    }
}
@media only screen and (max-width: 640px) {
    .section {
        flex-direction: column;
    }
    .cardapio_title {
        width: 100%;
        padding: 15px 0;
        
    }
    .cardapio_title div, .cardapio_title p {
        text-align: center;
        font-size: 14px;
        padding: 0;
    }
    
}
