.container {
    background-color: #1855A5;
    height: 55.7dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.funcionalidades {
    display: flex;
    background-color: #fff;
    width: 40%;
    height: 30%;
    justify-content: center;
    padding: 20px;
    
}

.funcionalidades h3 {
    font-family: Open Sans, sans-serif;
    font-size: 24px;
}

.section {
    display: flex;

}
.icon {
    background-color: #DD9933;
    height: 120px;
    width: 120px;
    display: block;
    flex-direction: row;
}